body{
  background-color: rgb(37, 0, 37);
  text-align: center;
}
h1 {
    text-align: center;
    color: rgb(175, 106, 175);
  }
h2{
  color: rgb(248, 195, 255)
}
img{
  height: 25em;
}
p{
  color: rgb(237, 214, 240);
}
a{
  text-decoration:underline;
  color: rgb(164, 164, 247);
}
label{
  color: rgb(164, 164, 247);
  padding: .5em;
}
form{
  margin-top: .5em;
}